extends _layout.pug

append vars
block content
  main.content
    #sectionMain.section.kv-section
      .kv-section__bg
        video.section__video.d-none-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_pc.mp4')
        video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
          source(src='./images/video/kv_video_mb.mp4')
      .kv-section__decobox
        .kv-section__main
          .kv-section__visual
            img.kv-section__img(src="./images/kv_main_title.png", alt="")
          .kv-section__textbox
            p.kv-section__title.text-center 
              span.color-primary 克隆
              |聖誕快樂!
            p.kv-section__title.text-center 首次迎來聖誕節的波拉西亞戰記
              br
              span.color-primary 克隆地區
              |燈塔村莊正準備著
              span.color-primary 聖誕節
              |慶祝活動
              br
              |邀請所有守護者們一同參與！
          a(href="#sectionResent").kv-section__scroll
    #section