extends _layout.pug

append vars
block append nav
block content
  main.content
    .swiper.section-slide
      .swiper-wrapper.section-slide__wrapper
        section#sectionMain.swiper-slide
          .section.kv-section
            .kv-section__bg
              video.section__video.d-none-sm(autoplay loop muted playsinline)
                source(src='./images/video/kv_video_pc.mp4')
              video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
                source(src='./images/video/kv_video_mb.mp4')
            .section__container
              .section__wrapper.column
                img.kv-section__sub-title(src="./images/kv_title_sub.png", alt="")
                .kv-section__smoke
                .kv-section__visual
                  img.kv-section__title(src="./images/kv_title_01.png", alt="")
                  img.kv-section__title(src="./images/kv_title_02.png", alt="")
                  img.kv-section__title(src="./images/kv_title_03.png", alt="")
                  img.kv-section__title(src="./images/kv_title_04.png", alt="")
                  img.kv-section__title(src="./images/kv_title_05.png", alt="")
                  img.kv-section__title(src="./images/kv_title_06.png", alt="")
                  img.kv-section__title(src="./images/kv_title_07.png", alt="")
                svg(width="0" height="0")
                  defs
                    filter#smokeFlow(x="0" y="0" width="100%" height="100%")
                      feTurbulence(type="fractalNoise" baseFrequency="0.01" numOctaves="3" result="turbulence")
                        animate(attributeName="baseFrequency" dur="20s" values="0.01; 0.02; 0.01" repeatCount="indefinite")
                      feDisplacementMap(in="SourceGraphic" in2="turbulence" scale="30")
                .kv-section__date 2025.06.11(三) UPDATE
                button.kv-section__btn
                a(href="#sectionSec").kv-section__scroll
        //- section#sectionSec.swiper-slide
        //-   .section.s2-section
        //-     .s2-section__bg
        //-       video.section__video.d-none-sm(autoplay loop muted playsinline)
        //-         source(src='./images/video/s2_video_pc.mp4')
        //-       video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
        //-         source(src='./images/video/s2_video_mb.mp4')
        //-     .section__container
        //-       .section__wrapper.column
        //-         img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s2_main_title.png", alt="")
        //-         p.s2-section__sub-title.animate.animate_fadeDown.animate_delay200  EP.4 總監到你家 改版發表
        //-         .s2-section__iframe-container.animate.animate_fadeLeft.animate_delay200
        //-           iframe.s2-section__iframe(src="https://www.youtube.com/embed/Nkf6ebc95Y0?mute=1&amp;autoplay=0&amp;loop=1&amp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                //- ver0528 直播連結 ribbon
                //- a.s2-section__link.animate.animate_fadeDown.animate_delay300(href="")
                //-   .s2-section__msg
                //-     span.s2-section__link-text 直播內容
                //-       i.s2-section__arrow
        section#sectionSec.swiper-slide.section-slide-second
          .section.s2-section
            .s2-section__bg
              video.section__video.d-none-sm(autoplay loop muted playsinline)
                source(src='./images/video/s2_video_pc.mp4')
              video.section__video.d-none-lg.d-block-sm(autoplay loop muted playsinline)
                source(src='./images/video/s2_video_mb.mp4')
            .section__container
              .section__wrapper.column
                img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s2_main_title.png", alt="")
                p.s2-section__sub-title.animate.animate_fadeDown.animate_delay200  EP.4 改版發表
                .s2-section__iframe-container.cover.animate.animate_fadeLeft.animate_delay200
                  img.s2-section__cover(src="./images/s2_cover_iframe.png", alt="")
        section#sectionThird.swiper-slide.section-slide-third
          .section.s3-section
            .section__bg.s3-section__bg
              .section__container
                .section__wrapper.column
                  img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s3_main_title.png", alt="")
                  ul.s3-section__row
                    li.s3-section__item
                    li.s3-section__item
                    li.s3-section__item
        section#sectionFourth.swiper-slide.section-slide-fourth
          .section.s4-section
            .section__bg.s4-section__bg
              .section__container
                .section__wrapper.column
                  img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s4_main_title.png", alt="")
                  .s4-section__imgbox.row.d-none-sm
                    .s4-section__img01.animate.animate_fadeDown.animate_delay200
                    .s4-section__img02.animate.animate_fadeDown.animate_delay300
                  .s4-section__visual.d-none-lg.d-block-sm
                    img.s4-section__img(src="./images/s4_visual_mb.png", alt="")
        section#sectionFifth.swiper-slide.section-slide-fifth
          .section.s5-section
            .section__bg.s5-section__bg
            .section__container
              .section__wrapper.column.s5-section__wrapper
                .container.column
                  .section__wrapper.column
                    img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s5_main_title.png", alt="")
                    ul.s5-section__row.row
                      li.s5-section__item.animate.animate_fadeLeft.animate_delay200
                        .vodbox
                          video.s5-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s5_vod_01.mp4')
                      li.s5-section__item.animate.animate_fadeIn.animate_delay400
                        .vodbox
                          video.s5-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s5_vod_02.mp4')
                      li.s5-section__item.animate.animate_fadeRight.animate_delay300
                        .vodbox
                          video.s5-section__video(autoplay loop muted playsinline)
                            source(src='./images/video/s5_vod_03.mp4')
                    a.section__btn.s5-section__btn.animate.animate_fadeIn.animate_delay400(href="https://warsofprasia.beanfun.com/Career" target="_blank")
        section#sectionSixth.swiper-slide.section-slide-sixth
          .section.s6-section
            .section__bg.s6-section__bg
              .section__container
                .section__wrapper.column.s6-section__wrapper
                  .container
                    .section__wrapper.column
                      img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s6_main_title.png", alt="")
                      ul.s6-section__row.row
                        li.s6-section__item.animate.animate_fadeLeft.animate_delay200
                        li.s6-section__item.animate.animate_fadeIn.animate_delay400
                        li.s6-section__item.animate.animate_fadeRight.animate_delay300
                      a.section__btn.s6-section__btn.animate.animate_fadeIn.animate_delay400(href="https://warsofprasia-event.beanfun.com/EventAD/EventAD?eventAdId=12880" target="_blank")
        section#sectionSeventh.swiper-slide.section-slide-seventh
          .section.s7-section
            .section__bg.s7-section__bg
              .section__container
                .section__wrapper.column.s7-section__wrapper
                  .container
                    .section__wrapper.column
                      img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s7_main_title.png", alt="")
                      p.section__msg.animate.animate_fadeDown.animate_delay200 
                        |透過
                        span.section__msg-sub 職業變更
                        |免費體驗深淵放逐者
                        br 
                        |使用
                        span.section__msg-sub 職業變更返回功能
                        |即可回復為原本職業
                      .s7-section__card.animate.animate_fadeIn.animate_delay300
        section#sectionEighth.swiper-slide.section-slide-eighth
          .section.s8-section
            .section__bg.s8-section__bg
              .section__container
                .section__wrapper.column.s8-section__wrapper
                  .container
                    .section__wrapper.column
                      img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s8_main_title.png", alt="")
                      p.section__msg.animate.animate_fadeDown.animate_delay200 派系/主線任務全面更新，史詩劇情帶你速飆 66 等！
                      ul.s8-section__row.row
                        li.s8-section__item.animate.animate_fadeLeft.animate_delay200
                        li.s8-section__item.animate.animate_fadeRight.animate_delay200
        section#sectionNinth.swiper-slide.section-slide-ninth
          .section.s9-section
            .section__bg.s9-section__bg
              .section__container
                .section__wrapper.column.s9-section__wrapper
                  .container
                    .section__wrapper.column
                      img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s9_main_title.png", alt="")
                      p.section__msg.animate.animte_fadeDown.animate_delay200 首領討伐戰將改版為「首領團戰」
                        br 
                        |無論何時何地都能挑戰首領
                        br
                        |來獲得傳說裝備碎片、傳說亞奎殘片，及成長所需貨幣！
                      .s9-section__content.animate.animate_fadeIn.animate_delay300
        //- section#sectionTenth.swiper-slide.section-slide-tenth
        //-   .section.s10-section
        //-     .section__bg.s10-section__bg
        //-       .section__container
        //-         .section__wrapper.column.s10-section__wrapper
        //-           .container
        //-             .section__wrapper.column
        //-               img.section__title.animate.animate_fadeUp.animate_delay100(src="./images/s10_main_title.png", alt="")
        //-               picture.s10-section__content.animate.animate_fadeIn.animate_delay200
        //-                 source(srcset="./images/s10_card_mb.png" media="(max-width: 768px)")
        //-                 img(src="./images/s10_card.png" alt="Responsive Image")