.kv-section {
  &__bg {
    position: relative;
    &::after {
      display: block;
      content: "";
      background-image: url(../images/black_overlay_bg.png);
      @include background-cover;
      @include size(100%);
      @include center;
    }
  }
  &__decobox {
    @include center;
  }

  &__main {
    @include flex-column;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: auto
  }

  &__visual {
    @include size(476px,600px);
  }

  &__textbox {
    margin: 52px auto;
  }

  &__title {
    color: $text03;
    font-size: 2rem;
    &:nth-child(2) {
      font-size: 1.5rem;
      margin-top: 28px;
    }
  }

  &__scroll {
    display: inline-block;
    @include background-cover;
    @include size(37px,108px);
    background-image: url(../images/kv_scrolldown.png);
  }

}

.section {
  &__bg {
    position: relative;
    &::after {
      display: block;
      content: "";
      background-image: url(../images/black_overlay_bg.png);
      @include background-cover;
      @include size(100%);
      @include center;
    }
    &.s2-section__bg {
      &::after {
        display: none;
      }
    }
  }
  &__video {
    transform: translateZ(0) scale(.9);
    object-fit: cover;
    object-position: 50% 50%;
    transform-origin: 0 -80%;
  }
  &__logo {
    background-image: url(../images/img_head_logo.png);
    @include background-cover;
    @include size(172px,120px);
  }

  &__container {
    @include center;
    height: 100%;
  }

  &__wrapper {
    align-items: center;
  }

  &__btn {
    background-image: url(../images/s2_btn_off.png);
    @include background-contain;
    @include size(280px,82px);
    transition: background-image .3s ease;
    &:hover {
      background-image: url(../images/s2_btn_active.png);
    }
    &.s3__btn {
      background-image: url(../images/s3_btn_off.png);
      &:hover {
        background-image: url(../images/s3_btn_active.png);
      }
    }
  }
}

.s2-section {

  &__title {
    background-image: url(../images/s2_head_title.png);
    @include background-contain;
    @include size(480px,120px);
    margin-top: 32px;
  }
  &__gift {
    background-image: url(../images/s2_img_gift.png);
    @include background-contain;
    @include size(500px,474px);
    margin: 24px auto;
  }
}

.s3-section {
  &__deco {
    position: relative;
    max-width: 960px;
    margin: auto;
    * {
      position: absolute;
    }
  }
  &__img {
    &:nth-child(1) {
      top: 209px;
      left: -350px;
      .section__img {
        @include size(398px,298px);
        background-image: url(../images/s3_img01.png);
        @include background-contain;
      }
    }
    &:nth-child(2) {
      top: 215px;
      right: 0;;
      .section__img {
        @include size(328px,228px);
        background-image: url(../images/s3_img02.png);
        @include background-contain;
      }
    }
    &:nth-child(3) {
      top: 460px;
      right: 120px;
      z-index: 9;
      .section__img {
        @include size(353px,277px);
        background-image: url(../images/s3_img03.png);
        @include background-contain;
      }
    }
  }
  &__title {
    background-image: url(../images/s3_head_title.png);
    @include background-contain;
    @include size(480px,120px);
    margin-top: 32px;
  }
  &__textbox {
    margin-top: 40px;
  }
  &__text {
    color: $text01;
    text-align: center;
    font-size: 18px;
  }
  &__info {
    background-image: url(../images/s3_event_time.png);
    @include background-contain;
    @include size(500px,237px);
    margin: 28px auto 40px;
  }
}