extends _layout.pug

append vars
block append nav
block content
  main.content
    .swiper.section-slide
      .swiper-wrapper
        section#sectionMain.swiper-slide
          .section.kv-section
            .kv-section-bg
              video.section-video(autoplay loop muted playsinline)
                source(src='./images/video/kv-video-pc.mp4')
            .section-container
              .section-wrapper.column
                picture
                  source(srcset="./images/kv-title-mobile.png" media="(max-width: 768px)" type="image/png")
                  img.kv-section-title(src="./images/kv-title.png", alt="")
                p.kv-section-date 2025.08.27 (三) UPDATE
                button.kv-section-btn
                img.kv-section-deco(src="./images/kv-deco.png", alt="")
        section#sectionSec.swiper-slide
          .section.s2-section
            .section-bg.s2-section-bg
            .section-container
              .section-wrapper.column
                .section-head.column
                  h2.section-title 聯名內容更新
                  p.section-msg 《風之王國：燕》聯名合作登場！
                    br
                    |從造型到傷害浮標skin全面更新，快去波濤世界中試試吧！
                picture
                  source(srcset="./images/s2-body-mobile.png" media="(max-width: 768px)" type="image/png")
                  img.s2-section-body(src="./images/s2-body.png", alt="")
        section#sectionThird.swiper-slide
          .section.s3-section
            .section-bg.s3-section-bg
            .section-container
              .section-wrapper.column
                .section-head.column
                  h2.section-title 風之鬼怪森林
                  p.section-msg 《風之王國：燕》的鬼怪森林，已與世界裂縫相連！
                    br
                    |擊退佔領國內城王宮的「鬼外王」，並在黎奈亞大陸上尋找寶物鬼怪吧！
                picture
                  source(srcset="./images/s3-body-mobile.png" media="(max-width: 768px)" type="image/png")
                  img.s3-section-body(src="./images/s3-body.png", alt="")
                a.s3-section-btn(href="javascript:void(0);")
        section#sectionFourth.swiper-slide
          .section.s4-section
            .section-bg.s4-section-bg
            .section-container
              .section-wrapper.column
                .section-head.column
                  h2.section-title 修行者之路
                  p.section-msg 從風之王國到黎奈亞，跨越時空的奇幻交會正式展開！
                    br
                    |修行者與守護者合而為一，來與異界共創成就，獲得獎勵吧！
                  p.section-alert 8/27 (三) 維護後 ~ 9/24 (三) 04:59
                picture
                  source(srcset="./images/s4-body-mobile.png" media="(max-width: 768px)" type="image/png")
                  img.s4-section-body(src="./images/s4-body.png", alt="")