@media screen and (max-height: 1000px) and (min-width: 769px) {

  .section {
    &:not(.kv-section) {
      .section-wrapper {
        gap: 0;
      }
    }

    .section-head {
      transform: scale(0.9);
    }

  }

}

@media (max-width: ($pc-midrwd-breakpoint* 1px)) {

  .section {
    .section-head {
      gap: vw(12px);
    }

    .section-title {
      font-size: vw(54px);
    }

    .section-msg {
      font-size: vw(24px);
    }

    .section-alert {
      font-size: vw(20px);
    }

  }
  
  .section-slide {
    height: auto;
    max-height: 100%;
    .swiper-wrapper {
      flex-direction: column;
      .swiper-slide {
        height: 100vh;
      }
    }
  }

// kv visual
// --------------------------------------------------
.kv-section {
  .kv-section-title {
    @include size(vw(1176px), vw(196px));
  }

  .kv-section-date {
    font-size: vw(28px);
    letter-spacing: vw(12px);
    margin: vw(-16px) auto vw(32px);
  }

  .kv-section-btn {
    @include size(vw(333px), vw(229px));
  }

  .kv-section-deco {
    @include size(vw(266px), vw(382px));
    position: absolute;
    bottom: vw(-160px);
    right: vw(60px);
  }

}

// s2 section style
// --------------------------------------------------
.s2-section {

  .s2-section-body {
    @include size(vw(1263px), vw(677px));
    transform: scale(0.9);
  }
}

// s3 section style
// --------------------------------------------------
.s3-section {

  .s3-section-body {
    @include size(vw(1210px), vw(684px));
    transform: scale(0.8);
  }

  .s3-section-btn {
    @include size(vw(279px), vw(79px));
    margin-top: vw(-60px);
  }

}

// s4 section style
// --------------------------------------------------
.s4-section {

  .s4-section-body {
    @include size(vw(930px), vw(700px));
    margin-top: vw(-60px);
  }

}

}