@media screen and (max-height: 1000px) and (min-width: 769px) {

}

@media (max-width: ($pc-midrwd-breakpoint* 1px)) {

  .section-tab {
    gap: vw(4px);
    width: 100%;
    .section-tab-item {
      @include size(vw(361px),auto);
      margin-top: vw(100px);
      padding: vw(24px) 0;
      font-size: vw(28px);
      &.is-active {
        font-size: vw(32px);
      }
    }
  }
  
  .section-tab-content {
    border: vw(3.5px) solid #0396D7;
    padding: vw(40px) 0;
    .section-tab-msg {
      margin-bottom: vw(40px);
      font-size: vw(24px);
      text-align: center;
      .section-tab-msg-name {
        font-size: vw(28px);
      }
    }
    .section-tab-img {
      @include size(vw(997px), vw(558px));
    }
  }
  
  // -----s2 section
  // --------------------------------------------------
  .s2-section {
    padding-bottom: vw(100px);

    .container {
      padding-top: vw(200px);
    }

    .s2-section-title-top {
      @include size(vw(651px), vw(221px));
    }

    .s2-section-visual-top {
      @include size(vw(812px), vw(802px));
      margin-top: vw(-120px);
    }

    .s2-section-title-bottom {
      @include size(vw(903.86px), vw(167.67px));
      margin-top: vw(-80px);
    }

    .s2-section-visual-bottom {
      @include size(vw(1920px), pct(888px));
      margin-top: vw(-250px);
    }

    .s2-section-npc-bottom {
      @include size(vw(1124px),vw(303px));
      margin-top: vw(-300px);
    }
  }

  // -----s3 section
  // ---------------
  .s3-section {
    padding: vw(48px) 0 vw(150px);

    .s3-section-title-top {
      @include size(vw(803px), vw(230px));
    }

    .s3-section-bottom {
      margin-top : vw(150px);

      .s3-section-title-bottom {
        @include size(vw(624.51px) , vw(267.01px));
      }

      .s3-section-item {
        margin-top: vw(50px);
        &:nth-child(1) {
          @include size(vw(553.74px), vw(457.54px));
          .s3-section-btn {
            bottom: vw(63px);
            @include size(100%, vw(83px));
          }
        }
        &:nth-child(2) {
          @include size(vw(553.74px), vw(457.54px));
          .s3-section-btn {
            bottom: vw(63px);
            @include size(100%, vw(83px));
          }
        }
      }

      .s3-section-msg-bottom {
        @include size(vw(981.33px), vw(193.87px));
        margin-top: vw(64px);
      }
    }
  }

  // -----s4 section
  // --------------------------------------------------
  .s4-section {
    padding: vw(48px) 0 vw(150px);

    .s4-section-title-top {
      @include size(vw(1095.14px), vw(99.53px));
    }
      
    .s4-section-visual-top {
      @include size(90%);
    }
  
    .s4-section-msg-top {
      @include size(90%);
    }
  
    .s4-section-bottom {
      margin-top: vw(300px);
  
      .section-tab-item {
        flex: 0 0 calc((100% / 4) - pct(4px));
      }
    }
  }

  // -----s5 section
  // --------------------------------------------------

  .s5-section {
    padding: vw(48px) 0 vw(50px);
  
    .s5-section-title {
      @include size(vw(501.31px), vw(274.98px));
    }
  
    .s5-section-msg {
      @include size(vw(919.96px), vw(95.79px));
      margin-top: vw(70px);
    }
  
    .s5-section-text {
      color: #878484;
      font-size: vw(16px);
      margin-top: vw(20px);
    }
  
    .s5-section-vod {
      @include size(vw(1291.71px), vw(758.29px));
      justify-content: center;
      margin-top: vw(150px);
      gap: vw(16px);
  
      .s5-section-bg {
        @include size(vw(1291.71px), vw(548.1px));
        top: vw(-100px);
      }
    }
  
    .s5-section-vod01 {
      @include size(vw(585.78px), vw(616px));
      flex: 0 0 calc(50% - vw(24px));
  
      .s5-vod {
        height: vw(406px);
        top: vw(126px);
      }
    
    }
  
    .s5-section-vod02 {
      @include size(vw(585.78px), vw(616px));
      flex: 0 0 calc(50% - vw(24px));
      margin-top: vw(135px);
  
      .s5-vod {
        height: vw(406px);
        top: vw(131px);
      }
    }
  
    .s5-section-row {
      .s5-vod {
        top: vw(3px);
      }
    }
  }

}