extends _layout.pug

append vars
block content
  main.content
    section.section
      .kv-section-bg
      .kv-section-visual
    nav.tab
      ul.tab-row.row
        li.tab-item
          a(href="javascript:;").tab-link 為你的成長應援
            br
            |閃耀旅程
        li.tab-item
          a(href="javascript:;").tab-link 為你的成長應援
            br
            |閃耀旅程
    .left-table-container(style="display: block")
      section.section.s2-section
        .container.column
          img.s2-section-title-top(src="./images/s2_title_top.png", alt="")
          img.s2-section-visual-top(src="./images/s2_visual_top.png", alt="")
          img.s2-section-title-bottom(src="./images/s2_title_bottom.png", alt="")
          img.s2-section-visual-bottom(src="./images/s2_visual_bottom.png", alt="")
          .s2-section-npc-bottom
      section.section.s3-section
        .container.column
          img.s3-section-title-top(src="./images/s3_title_top.png", alt="")
          ul.section-tab.row 
            li.section-tab-item.is-active 租借服務
            li.section-tab-item 免費支援服務
            li.section-tab-item 限制擴充服務
          .section-tab-content
            p.section-tab-msg 向
              span.section-tab-msg-name 借管理人薩夏
              |搭話租借豐富道具
            img.section-tab-img(src="./images/s3_tab01_content.png", alt="")
          .s3-section-bottom.column
            img.s3-section-title-bottom(src="./images/s3_title_bottom.png", alt="")
            ul.s3-section-row.row
              li.s3-section-item
                button.s3-section-btn
              li.s3-section-item
                button.s3-section-btn
            img.s3-section-msg-bottom(src="./images/s3_msg_bottom.png", alt="")
      section.section.s4-section
        .container.column
          img.s4-section-title-top(src="./images/s4_title_top.png", alt="")
          img.s4-section-visual-top(src="./images/s4_main_visual.png", alt="")
          img.s4-section-msg-top(src="./images/s4_msg_top.png", alt="")
          .s4-section-bottom
            img.s4-section-title-bottom(src="./images/s4_title_bottom.png", alt="")
            ul.section-tab.row 
              li.section-tab-item.is-active 強韌度(等級)
              li.section-tab-item 熟練度(才能)
              li.section-tab-item 協作精神(寵物/戰鬥)
              li.section-tab-item 適應力(高級成長)
            .section-tab-content
              img.section-tab-img(src="./images/s4_tab01_content.png", alt="")
      section.section.s5-section
        .container.column
          img.s5-section-title(src="./images/s5_title.png", alt="")
          img.s5-section-msg(src="./images/s5_msg.png", alt="")
          p.s5-section-text 下方圖片為幫助理解道具所製作的示意範例。
          .s5-section-vod.row
            .s5-section-bg
            .s5-section-vod01
              .s5-vod
                video(autoplay loop muted playsinline)
                  source(src='./images/video/s5_vod01.mp4')
            .s5-section-vod02
              .s5-vod
                video(autoplay loop muted playsinline)
                  source(src='./images/video/s5_vod02.mp4')
          .s5-section-row.row
            img.s5-section-card(src="./images/s5_card01.png", alt="")
            img.s5-section-card(src="./images/s5_card02.png", alt="")
            .s5-vodbox
              img.s5-card-vod(src="./images/s5_card03.png", alt="")
              .s5-vod
                video(autoplay loop muted playsinline)
                    source(src='./images/video/s5_vod03.mp4')
          img.s5-section-card04(src="./images/s5_card04.png", alt="")
          img.s5-section-card05(src="./images/s5_card05.png", alt="")
    .right-table-container(style="display: none")
      section.section.s2-section
        .container.column
          img.s2-section-title-top(src="./images/s2_title_R.png", alt="")
          img.s2-section-visual-top(src="./images/s2_visual_top_R.png", alt="")
          img.s2-section-title-bottom(src="./images/s2_title_bottom_R.png", alt="")
          img.s2-section-visual-bottom(src="./images/s2_visual_bottom_R.png", alt="")
          .s2-section-npc-bottom
      section.section.s3-section
        .container.column
          img.s3-section-title-top(src="./images/s3_title_top_R.png", alt="")
          img.s3-section-card(src="./images/s3_card_R.png", alt="")
          .s3-section-center.column
            img.s3-section-title-center(src="./images/s3_title_center_R.png", alt="")
            img.s3-section-msg-center(src="./images/s3_msg_center_R.png", alt="")
            img.s3-section-card-center(src="./images/s3_card_center_R.png", alt="")
          .s3-section-bottom.column
            img.s3-section-title-bottom(src="./images/s3_title_bottom_R.png", alt="")
            img.s3-section-card01-bottom(src="./images/s3_card01_bottom_R.png", alt="")
            .s3-section-card02-bottom
              img(src="./images/s3_card02_bottom_R.png", alt="")
              a.s3-section-btn(href="javascript:;") 
      section.section.s4-section
        .container.column
          img.s4-section-title-top(src="./images/s4_title_R.png", alt="")
          img.s4-section-card-top(src="./images/s4_card_top_R.png", alt="")
          .s4-section-card-bottom
            ul.s4-section-card-row 
              li.s4-section-card-item
                img(src="./images/s4_slide_card01.png", alt="")
    #gotop
      a.gotop(href="#")