// ----- Common Style Start -----//

html,
body {
  position: relative;
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  @include flex-column;
}

.container {
  max-width: $pc-midrwd-breakpoint + px;
  margin: 0 auto;
  padding: 16px 24px;
}

.color {
  &-primary {
    color: $primary;
  }

  &-secondary {
    color: $secondary;
    &--dark {
      color: $secondaryDark;
    }
  }

  &-point {
    color: $point;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-sm {
    font-size: 14px;
  }

  &-md {
    font-size: 18px;
  }

  &-lg {
    font-size: 30px;
  }

  &-xl {
    font-size: 60px;
  }
}

.fw {
  &-normal {
    font-weight: normal;
  }

  &-sm {
    font-weight: 400;
  }

  &-md {
    font-weight: 500;
  }

  &-lg {
    font-weight: 700;
  }

  &-xl {
    font-weight: 900;
  }
}

.d-block {
  display: block;
}

.d-none {
  &-lg {
    display: none;
  }
}

// ----- Common Style End -----//

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: 10000;
  &__content {
    @include flex-column;
    align-items: center;
  }
  &__logo {
    @include size(70px);
  }
  &__bar {
    @include size(100%,2px);
    position: relative;
    margin: 16px 0;
    border-radius: 4px;
    background: $backgroundDark1F;
    overflow: hidden;
  }
  &__progress {
    width: 0;
    height: 100%;
    background-color: $background2F;
    transition: width 0.5s linear;
  }
  &__text {
    color: $text02;
    font-family: Arial;
    letter-spacing: .1px;
  }
}

.section {
  @include size(100%,100%);
  position: relative;
  overflow: hidden;

  &__bg {
    @include size(100%);
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    &::after {
      display: block;
      content: "";
      background-image: url(../images/black_overlay_bg.png);
      @include background-cover;
      @include size(100%,110%);
      @include center;
    }
  }

  &__video {
    @include size(100%);
    object-fit: cover;
    object-position: center;
  }

  &__container {
    @include center;
    @include size(100%);
  }

  &__wrapper {
    @include flex-center;
    position: relative;
    height: 100%;
  }

  &__logo {
    @include background-contain;
    @include size(172px,120px);
    flex-shrink: 0;
    background-image: url(../images/img_head_logo.png);
  }

  &__textbox {
    margin: 40px 0 16px;
  }

  &__text {
    color: $text01;
    text-align: center;
    font-size: 18px;
  }

  &__title {
    @include background-contain;
    @include size(580px,120px);
    flex-shrink: 0;
    margin-top: 24px;
  }

  &__btn {
    @include background-contain;
    @include size(280px,82px);
    background-image: url(../images/s2_btn_off.png);
    transition: .3s all;
    flex-shrink: 0;
    &:hover {
      background-image: url(../images/s2_btn_active.png);
    }
    &.s3__btn {
      background-image: url(../images/s3_btn_off.png);
      &:hover {
        background-image: url(../images/s3_btn_active.png);
      }
    }
  }

}

.UNI-footer {
  &.dark {
    display: none;
  }
}

// swiper 套件

.section-slide {
  min-height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: ($pc-midrwd-breakpoint* 1px)) {

  .d-block {
    &-md {
      display: block;
    }
  }

  .d-none {
    &-md {
      display: none;
    }
  }

}



@media screen and (max-width: ($mbrwd-breakpoint* 1px)) {

  .container {
    max-width: initial;
    padding: 0 16px;
  }

  .text {
    &-md {
      font-size: 16px;
    }

    &-lg {
      font-size: 18px;
    }

    &-xl {
      font-size: 30px;
    }
  }

  .d-block {
    &-sm {
      display: block;
    }
  }

  .d-none {
    &-sm {
      display: none;
    }
  }

  .section {

    &__logo {
      @include size(80px,70px);
    }

    &__title {
      @include size(100%,75px);
      padding: 0 8px;
      margin-top: 16px;
    }

    &__text {
      font-size: 16px;
    }

    &__textbox {
      padding: 0 28px;
      margin: 16px auto;
    }

    &__btn {
      @include size(200px,59px);
      flex-shrink: 0;
    }
  }
}