.section {
  &__bg {
    &.s2-section__bg {
      &::after {
        display: none;
      }
    }
  }
}

// kv visual
// -------------------------------------------------- 
.kv-section {

  &__sub-title {
    @include size(auto,pct(115px));
  }

  &__visual {
    @include size(626px,132px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    &::before {
      @include size(100%,583px);
      @include background-cover;
      content: '';
      background-image: url(../images/kv_spark.png);
      position: absolute;
      margin-top: -20%;
      left: 4%;
    }
    &::after {
      @include size(100%,583px);
      @include background-cover;
      content: '';
      background-image: url(../images/kv_smoke3.png);
      margin-top: -18%;
    }
  }

  &__smoke {
    @include center;
    @include size(626px,100%);
    &::before,&::after {
      z-index: 3;
      filter: url(#smokeFlow) blur(1px);
    }
    &::before {
      @include size(100%,100%);
      @include background-contain;
      content: '';
      position: absolute;
      top: -12%;
      left: -26%;  
      background-image: url(../images/kv_smoke1.png);
    }
    &::after {
      @include size(123%,100%);
      background-position: center 0;
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: 9%;
      right: -8%;
      background-image: url(../images/kv_smoke2.png);
    }
  }

  &__title {
    @include size(auto,100px);
    position: absolute;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: -8px;
      left: 100px;
    }
    &:nth-child(3) {
      top: 30px;
      left: 190px;
    }
    &:nth-child(4) {
      top: 0;
      left: 285px;
    }
    &:nth-child(5) {
      @include size(auto,70px);
      top: 38px;
      left: 385px;
    }
    &:nth-child(6) {
      top: -9px;
      left: 446px;
    }
    &:nth-child(7) {
      top: 5px;
      left: 524px;
    }
  }

  &__date {
    background: url(../images/kv_date.png);
    @include size(pct(578px),pct(81px));
    @include background-contain;
    font-size: .0000000000001em;
    margin: 32px auto;
    animation: fadeUp 1.5s cubic-bezier(0.65,0,0.35,1) 1 forwards;
  }

  &__scroll {
    flex-shrink: 0;
    @include background-contain;
    @include size(37px,108px);
    background-image: url(../images/kv_scrolldown.png);
    animation: fadeUp2 2.2s forwards, float 1.3s infinite;
  }

  &__btn {
    @include size (120px);
    @include background-cover;
    background-image: url(../images/btn_play.png);
    position: relative;
    background-position: 50% 0;

    &:hover {
      background-position: 50% 100%;
    }
  }

}

.s2-section {
  position: relative;
  &::after {
    content: '';
    @include background-contain;
    @include size(1091px,100%);
    background-image: url(../images/s2_main_visual.png);
    position: absolute;
    bottom: 0;
  }
  &__bg {
    background: url(../images/bg_weapon.jpg);
    @include background-cover;

  }
}

.s3-section {
  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px 0;
  }
  &__title {
    background-image: url(../images/s3_head_title.png);
  }
  &__img {
    @include background-contain;
    position: absolute;
    z-index: 9;
    &-01 {
      @include size(398px,298px);
      top: pct(320px);
      left: calc(50% + #{-(690)}px);
    }
    &-02 {
      @include size(327px,228px);
      top: pct(300px);
      right: calc(50% + #{-(625)}px);
    }
    &-03 {
      @include size(353px,277px);
      right: calc(50% + #{-(560)}px);
      bottom: pct(120px);
    }
  }
  &__info {
    background-image: url(../images/s3_event_time.png);
    @include background-contain;
    @include size(500px,237px);
    margin: 28px auto 40px;
  }
}
