@media screen and (max-height: 1000px) and (min-width: 769px) {


  .s2-section {
    &__bg {
      top: pct(50px);
    }
    &__img02 {
      bottom: pct(150px);
    }
    .section__title {
      margin-top: 200px;
    }
  }

  .s3-section {
    &__row {
      margin-top: -70px;
      transform: scale(.9);
    }
  }

  .s4-section {
    &__row {
      height: 576px;
      margin-top: 0;
      transform: scale(.85);
    }
    .section {
      &__title {
        margin-top: 100px;
      }
      &__btn {
        margin-top: -30px;
      }
    }
  }

}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .section {
    &__logo {
      @include size(100px, 70px);
    }
  }
  .s3-section {
    &__wrapper {
      max-width: 100%;
    }
    &__imgbox {
      display: flex;
    }
    &__info {
      width: 400px;
      height: 200px;
      margin: 16px auto;
    }
    &__img {
      @include size(200px, auto);
      position: initial;
    }
  }
}