@media (max-width: ($mbrwd-breakpoint* 1px)) {

  .section-slide {
    height: auto;
    max-height: 100%;
    &__wrapper {
      flex-direction: column;
      .swiper-slide {
        height: vwm(900px);
      }
    }
  }

   // kv visual
// --------------------------------------------------
.kv-section {
  &__sub-title {
    @include size(auto, vwm(115px));
  }

  &__visual {
    @include size(vwm(626px), vwm(132px));
    margin-top: vwm(32px);
    &::before {
      @include size(100%, vwm(583px));
      margin-top: -20%;
      left: 4%;
    }
    &::after {
      @include size(100%, vwm(583px));
    }
  }

  &__smoke {
    @include size(vwm(626px), 100%);
  }

  &__title {
    @include size(auto, vwm(100px));
    position: absolute;
    &:nth-child(2) {
      top: vwm(-8px);
      left: vwm(100px);
    }
    &:nth-child(3) {
      top: vwm(30px);
      left: vwm(190px);
    }
    &:nth-child(4) {
      top: 0;
      left: vwm(285px);
    }
    &:nth-child(5) {
      @include size(auto, vwm(70px));
      top: vwm(38px);
      left: vwm(385px);
    }
    &:nth-child(6) {
      top: vwm(-9px);
      left: vwm(446px);
    }
    &:nth-child(7) {
      top: vwm(5px);
      left: vwm(524px);
    }
  }

  &__date {
    @include size(vwm(578px), vwm(81px));
    margin: vwm(16px) auto vwm(32px);
  }

  &__scroll {
    @include size(vwm(37px), vwm(108px));
  }

  &__btn {
    @include size(vwm(120px));
  }

  .section__container {
    margin-top: vwm(10px);
  }
}

  .UNI-footer .gradeArea .gradeArea__img img {
    width: 50px;
  }

}


@media (max-width: 540px) {
  .s3-section {
    &__wrapper {
      justify-content: flex-start;
    }
  }
}