@media (max-width: ($mbrwd-breakpoint* 1px)) {

  .section-slide {
    height: auto;
    max-height: 100%;
    &__wrapper {
      flex-direction: column;
      .swiper-slide {
        height: vwm(1300px);
      }
    }
  }

   // kv visual
// --------------------------------------------------
.kv-section {
  &__sub-title {
    @include size(auto, vwm(115px));
  }

  &__visual {
    @include size(vwm(626px), vwm(132px));
    margin-top: vwm(32px);
    &::before {
      @include size(100%, vwm(583px));
      margin-top: -20%;
      left: 4%;
    }
    &::after {
      @include size(100%, vwm(583px));
    }
  }

  &__smoke {
    @include size(vwm(626px), 100%);

    &::after {
      @include size(vwm(1080px), 100%);
      right: vwm(-300px);
    }
  }

  &__title {
    @include size(auto, vwm(100px));
    position: absolute;
    &:nth-child(2) {
      top: vwm(-8px);
      left: vwm(100px);
    }
    &:nth-child(3) {
      top: vwm(30px);
      left: vwm(190px);
    }
    &:nth-child(4) {
      top: 0;
      left: vwm(285px);
    }
    &:nth-child(5) {
      @include size(auto, vwm(70px));
      top: vwm(38px);
      left: vwm(385px);
    }
    &:nth-child(6) {
      top: vwm(-9px);
      left: vwm(446px);
    }
    &:nth-child(7) {
      top: vwm(5px);
      left: vwm(524px);
    }
  }

  &__date {
    @include size(vwm(578px), vwm(81px));
    margin: vwm(16px) auto vwm(32px);
  }

  &__scroll {
    @include size(vwm(37px), vwm(108px));
  }

  &__btn {
    @include size(vwm(120px));
  }

  .section__container {
    margin-top: vwm(10px);
  }
}

// s2 section
// --------------------------------------------------
.s2-section {
  &__sub-title {
    margin-top: vwm(-32px);
    text-shadow: vwm(2px) 0 vwm(4px) rgba(0, 0, 0, .5);
    font-size: vwm(36px);
  }
  &__iframe-container {
    margin: vwm(24px) auto;
  }
  &__link {
    &::after {
      @include size(vwm(545px), vwm(229px));
    }
  }
  &__link-text {
    top: calc((100% - vwm(102px)) / 2);
    font-size: vwm(28px);
  }

    &__arrow {
    @include size(vwm(16px), vwm(24px));
    margin-left: vwm(8px);
    margin-bottom: vwm(-4px);
  }


  .section__container {
    width: 90%;
  }

  .section__title {
    @include flex-center;
    height: vwm(180px);
  }

}


// s3 section
// --------------------------------------------------
.s3-section {

  &__row {
    flex-wrap: wrap;
  }
  &__item {
    @include size(vwm(700px));
  }
}


// s4 section
// --------------------------------------------------
.s4-section {
  &__bg {
    background: url(../images/s4_bg_mb.jpg);
    @include background-cover;
  }

  &__visual {
    margin-top: vwm(32px);
  }
  
  &__img {
    @include size(vwm(1000px), vwm(736px));
  }

    .section__container {
    .section__title {
      margin-top: vwm(60px);
    }
  }

}


// s5 section
// --------------------------------------------------
.s5-section {

  &__row {
    background: url(../images/s5_card_mb.png);
    @include background-cover;
    @include size(vwm(884px), vwm(601px));
    margin-top: vwm(12px);
  }
  &__item {
    &:nth-child(1),&:nth-child(2),&:nth-child(3) {
      background: none;
      bottom: vwm(30px);
      pointer-events: none;
    }

    &:nth-child(1) {
      .vodbox {
        left: calc((100% - vwm(135px))/2);
      }
    }

    &:nth-child(2) {
      .vodbox {
        left: calc((100% - vwm(195px))/2);
      }
    }

    &:nth-child(3) {
      .vodbox {
        right: calc((100% - vwm(140px))/2);
      }
    }
  }
  .vodbox {
    @include size (vwm(200px), vwm(136px));
  }

  .section__title {
    margin-top: auto;
  }

  .section__btn {
    margin-top: vwm(24px);
  }

}

// s6 section
// --------------------------------------------------
.s6-section {
  &__bg {
    background: url(../images/s6_bg_mb.jpg);
    @include background-cover;
  }
  &__row {
    background: url(../images/s6_card_mb.png);
    @include background-cover;
    @include size(vwm(740px), vwm(588px));
    margin-top: vwm(48px);
  }

  &__item {
    &:nth-child(1),&:nth-child(2),&:nth-child(3) {
      background: none;
      pointer-events: none;
    }
  }
  .container {
    .section__title {
      margin-top: vwm(-150px);
    }
  }
}

// s7 section
// --------------------------------------------------
.s7-section {
  &__bg {
    background: url(../images/s7_bg_mb.jpg);
    @include background-cover;
    background-position: 30% 50%;
  }


  &__card {
    background: url(../images/s7_card_mb.png);
    @include background-cover;
    @include size(vwm(900px), vwm(660px));
    margin-top: vwm(150px);
    margin-left: 0;
  }

  .section__title {
    margin-top: vwm(-100px);
  }

}


// s8 section
// --------------------------------------------------
.s8-section {
  &__row {
    background: url(../images/s8_card_mb.png);
    @include background-cover;
    @include size(vwm(750px), vwm(500px));
    margin-top: vwm(48px);
  }

  &__item {
    &:nth-child(1),&:nth-child(2) {
      background: none;
      pointer-events: none;
    }
  }

  .section__title {
    margin-top: vwm(-120px);
  }

}


// s9 section
// --------------------------------------------------
.s9-section {

  &__content {
    @include size(vwm(1600px), vwm(1400px));
    background: url(../images/s9_card_mb.png);
    @include background-cover;
  }

  .section__title {
    margin-top: vwm(-100px);
  }
  
  .section__msg {
    width: vwm(750px);
  }

}

// s10 section
// --------------------------------------------------
.s10-section {
  &__content {
    @include size(vwm(800px),vwm(1920px));
  }
  .section__title {
    margin-top: vwm(-100px);
  }
}


.UNI-footer .gradeArea .gradeArea__img img {
  width: 50px;
}

}
