@media screen and (max-height: 1000px) and (min-width: 769px) {
  .section-slide {
    .swiper-slide {
      height: 960px !important;
    }
  }

  .section {
    &__title {
      transform: scale(.9);
    }
  }

  .s2-section {
    .section__title {
      margin-top: 130px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .section {
    &__logo {
      @include size(100px, 70px);
    }
  }
  .s3-section {
    &__wrapper {
      max-width: 100%;
    }
    &__imgbox {
      display: flex;
    }
    &__info {
      width: 400px;
      height: 200px;
      margin: 16px auto;
    }
    &__img {
      @include size(200px, auto);
      position: initial;
    }
  }
}